@font-face {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/BebasNeue-Bold.woff2") format('woff2'),
        url("../fonts/BebasNeue-Bold.woff") format('woff');
}

@font-face {
    font-family: 'Bebas Neue';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/BebasNeue-ExtraBold.woff2") format('woff2'),
        url("../fonts/BebasNeue-ExtraBold.woff") format('woff');
}

@font-face {
    font-family: 'Gill Sans';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/GillSans-Light.woff2") format('woff2'),
        url("../fonts/GillSans-Light.woff") format('woff');
}

@font-face {
    font-family: 'Gill Sans';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/GillSans-Regular.woff2') format('woff2'),
        url('../fonts/GillSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Gill Sans';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/GillSans-Bold.woff2') format('woff2'),
        url('../fonts/GillSans-Bold.woff') format('woff');
}