$tablet-width: 768px;
$desktop-width: 1024px;
$large-width: 1400px;

$primary-color: #04234D;
$secondary-color: #FF8484;
$white-color: #FFFFFF;
$dark-color: #000000;
$yellow-color: #F88E08;
$red-color: #D53A42;
$bg-color: #F4E8DB;

$button-color: #008280;