.button {
    display: block;
    font-weight: 600;
    color: $white-color;
    background-color: $button-color;
    padding: 15px 25px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: lighten($button-color, 5)
    }

    &-border {
        color: $primary-color;
        border: 1px solid $primary-color;
        background-color: transparent;

        &:hover {
            border-color: $button-color;
            color: $button-color;
            background-color: unset;
        }
    }

    &-arrow {
        margin: 0 auto;
        width: 245px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 23px;
    }

}

