.compare {
    padding-bottom: 60px;
    
    @media (min-width: $desktop-width) {
        max-width: 1150px;
        padding: 0 20px 60px;
        margin: 0 auto;
    }

    @media (min-width: $large-width) {
        padding: 0 0 60px;
    }
}

.compare__wrap {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 25px;

    @media (min-width: $desktop-width) {
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 40px;
    }

    @media (min-width: $large-width) {
        position: relative;
        margin-bottom: 60px;
    }
}

.compare__title {
    text-align: center;
    width: 100%;
    line-height: 46px;
    
    @media (min-width: $desktop-width) {
        width: unset;
        order: 2;
        align-self: center;
    }

    @media (min-width: $large-width) {
        position: absolute;

        line-height: 72px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.compare__subtitle {
    text-align: center;
    font-weight: 900;
    line-height: 16px;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    max-width: 100px;

    @media (min-width: $desktop-width) {
        max-width: unset;
        font-size: 24px;
    }

    @media (min-width: $large-width) {
        font-size: 30px;
    }
}

.compare__box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;

    @media (min-width: $desktop-width) {
        width: unset;

        &-1 {
            order: 1;
        }

        &-2 {
            order: 3;
        }
    }

    @media (min-width: $large-width) {
        row-gap: 0;

        &-2 {
            min-width: 350px;
            row-gap: 20px;
        }
    }
}

.compare__image {
    @media (min-width: $desktop-width) {
        img {
            width: 100%;
        }
    }
}

.compare__list {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    padding: 0 13px;
    max-width: 550px;
    margin: 0 auto;

    @media (min-width: $desktop-width) {
        max-width: 900px;
    }

    @media (min-width: $large-width) {
        row-gap: 27px;
    }
}

.compare__item {
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #F4E8DB;
    padding: 0 30px 10px;

    @media (min-width: $large-width) {
        padding-bottom: 0;
        border: none;
    }
}

.compare__text {
    min-width: 200px;
    margin: 0 20px;


    @media (min-width: $tablet-width) {
        min-width: 300px;
        margin: 0 30px;
    }

    @media (min-width: $desktop-width) {
        font-size: 20px;
        margin: 0 50px;
        min-width: 500px;
    }

    @media (min-width: $large-width) {
        width: 730px;
        margin: 0;
        border-bottom: 1px solid #F4E8DB;
        padding-bottom: 20px;
    }
}

.compare__green {
    fill: $button-color;
}

.compare__pink {
    fill: $secondary-color;
}