.container-reverse {
    padding: 0 13px;
    max-width: 1150px;
    margin: 0 auto;

    &-padding {
        padding-top: 40px;
        padding-bottom: 70px;
    }

    @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        column-gap: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (min-width: $large-width) {
        &-padding {
            padding-top: 85px;
            padding-bottom: 85px;
        }
    }
}


.container-reverse__content {
    @media (min-width: $tablet-width) {
        width: 50%;
    }

    @media (min-width: $desktop-width) {
        width: 475px;
        margin-right: auto;
    }

    @media (min-width: $large-width) {
        width: 50%;
    }
}

.container-reverse__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet-width) {
        align-items: flex-start;
    }
}

.container-reverse__image {
    margin-bottom: 30px;

    img {
        width: 100%;
    }

    @media (min-width: $tablet-width) {
        width: 50%;
        margin-bottom: 0;
    }
}

.container-reverse__title {
    margin-bottom: 20px;

    @media (min-width: $desktop-width) {
        margin-bottom: 35px;
        max-width: 420px;
    }
}