.intro {
    position: relative;

    @media (min-width: $desktop-width) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    @media (min-width: $large-width) {
        align-items: start;
    }
}

.intro__mark {
    position: absolute;
    top: 35px;
    right: 20px;
    z-index: 1;

    @media (min-width: $large-width) {
        top: 72px;
        left: 50%;
        right: unset;
        transform: translateX(-50%);
        img {
            width: 112px;
            height: 112px;
        }
    }
}

.intro__box {
    padding: 35px 13px 93px;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    max-width: 700px;
    margin: 0 auto;

    @media (min-width: $desktop-width) {
        width: 50%;
    }

    @media (min-width: $large-width) {
        margin-top: 125px;
        padding-left: 145px;
        row-gap: 17px;
    }
}

.intro__img {
    img {
        width: 100%;
        object-fit: cover;
        display: block;
    }

    @media (min-width: $desktop-width) {
        width: 50%;
    }
}

.intro__title {
    text-align: center;

    @media (min-width: $desktop-width) {
        text-align: left;
    }
   
}

.intro__text {
    text-align: center;
    padding: 0 15px;

    @media (min-width: $desktop-width) {
        text-align: left;
        padding: 0;
        max-width: 445px;
    }

    @media (min-width: $large-width) {
        margin-bottom: 30px;
    }
}

.intro__wrap {
    display: flex;
    justify-content: center;
    column-gap: 15px;

    .button:first-child {
        min-width: 140px;
    }

    .button:last-child {
        min-width: 197px;
    }

    @media (min-width: $desktop-width) {
        justify-content: flex-end;
        flex-direction: row-reverse;

        .button:first-child {
            min-width: 185px;
        }
    
        .button:last-child {
            min-width: 210px;
        }
    }
   
}

// .intro__image {
//     position: relative;
//     z-index: -1;
// }

