.promo {
    padding: 95px 13px 75px;
    margin-bottom: 65px;
    color: $white-color;
    background-color: $primary-color;
    background-image: url('../img/background/promo_mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
        background: no-repeat url('../img/background/promo_mobile@2x.jpg');
        background-size: cover;
    }

    @media (min-width: $tablet-width) {
        background-image: url('../img/background/promo_desktop.jpg');

        @media (min-resolution: 2dppx) {
            background: no-repeat url('../img/background/promo_desktop@2x.jpg');
            background-size: cover;
        }
    }

    @media (min-width: $desktop-width) {
        padding: 155px 13px 170px;
        font-size: 24px;
        display: flex;
        align-items: center;
        min-height: 600px;
    }
}

.promo__wrap {
    max-width: 500px;
    margin: 0 auto;

    @media (min-width: $desktop-width) {
        min-width: 725px;
    }
}

.promo__title {
    color: $white-color;
    text-align: center;
    margin-bottom: 20px;

    @media (min-width: $desktop-width) {
        margin-bottom: 30px;
    }

    @media (min-width: $large-width) {
        margin-bottom: 40px;
    }
}

.promo__text {
    text-align: center;

    @media (min-width: $desktop-width) {
        line-height: 32px;
    }
}